<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="5; url=http://www.eastmoney.com">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Error:500</title>
</head>
<body>
    <script src="http://cmsjs.eastmoney.com/js/404.js"></script>
</body>
</html>
<script>
  var statpagetype = "500"; //数据收集页面类型
</script>
<script type="text/javascript" src="//emcharts.dfcfw.com/usercollect/usercollect.min.js" charset="utf-8"></script>